<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your booking is confirmed, <%= @passenger.name %>!</h1>
    <h2>Thank you for booking a flight with us.</h2>
  </body>
</html>